version: '3.3'

services:
  rethinkdb:
    image: rethinkdb:2.4
    container_name: rethinkdb
    restart: always
    ports:
     - 18080:8080
     - 28015:28015
     - 29015:29015
    command:
      - /bin/bash
      - -c
      - |
        rethinkdb create --initial-password password
        rethinkdb --bind all
    volumes:
      - ~/apps/rethinkdb:/data
    networks:
      - hoarder-net
  hoarder:
    image: kennythebard/hoarder:1.0
    container_name: hoarder
    restart: always
    depends_on:
      - rethinkdb
    env_file:
      - .env
    ports:
     - 8080:${PORT}
    networks:
      - hoarder-net

networks:
  hoarder-net:
    driver: bridge